body {
  background-color: #4e8397;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;

  & :is(h1, h2, h3) {
    color: #547ea0;
  }

  & label {
    color: #3a687a;
  }
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;

  & #header {
    padding: 10px;
  }

  & #main {

    & .title {
      margin-bottom: 20px;
    }
    
    & .card {

      .lineInput {
        display: grid;

        input {
          border: none;
          border-bottom: 1.5px solid #000;
          outline: none;
          padding: 9px;
          background-color: transparent;
        }
      }

      label {
        text-align: left;
        font-weight: 600;
      }

      .buttons {
        margin: 1.3rem 0 3rem 0;
        
        button {
          margin: 5px;
          background-color: #4e8397;
          color: #fff;
          padding: 12px;
          border-radius: 5px;
          width: 126px;
          outline: none;
          cursor: pointer;
          border: 0;
          font-weight: 700;
          height: 37px;
          transition: .5s;

          &:hover {
            background-color: #3a687a;
            transform: scale(1.1);
          }
        }
      }

    }
  }

}

